@import "tailwindcss";

:root {
  --base-100: #edf1e8;
  --base-200: #d7dbd2;
  --base-300: #afb3ab;
  --base-400: #969992;
  --base-500: #7d807a;
  --base-600: #1f1f1f;
  --base-700: #0f0f0f;
}

.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
}

.transition-block {
  position: absolute;
  top: 0;
  background-color: var(--base-500);
  transform-origin: left;
}
